body{
    padding-top: 70px;
}
  .icon svg{
    height: 30px;
    width: 30px;
  
  }
  .icon:hover svg{
    height: 35px;
    width: 35px;
  }

  .iconbox{
    height: 45px;
    width: 50px;
    align-items: center;
  }
  
  .iconbar{
    margin-left: auto;
    margin-right: auto;
    padding: 4vh;
  }

  .box{
    max-width:700px;
    margin-right:auto;
    margin-left:auto;
  }

  .list-group-flush li:first-child { border-top: none; }

div.blueBadge a{
  padding:4px;
}

svg.videoicon{
  vertical-align: top;
  height:12px;
}